
<div class="file-upload-container">
  <h2 class="upload-title">You can upload your file here</h2>
  <label class="file-input-label" for="fileInput">
    Choose a File
    <input
      type="file"
      id="fileInput"
      class="file-input"
      (change)="onFileSelected($event)"
    />
  </label>
  <h4 class="uploaded-file-name" *ngIf="uploadedFileName">Uploaded File: {{ uploadedFileName }}</h4>
  <button class="upload-button" (click)="uploadFile()">Upload</button>
  <p class="warning-message" *ngIf="showWarning">Please select a valid .xlsx file.</p>

</div>

