
.edit-band-container {
  margin: 20px auto;
  font-family: 'Your Custom Font', sans-serif;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  font-weight: bold;
  flex: 2;
  font-family: inherit;
  font-size: 15px;
}

.form-group input,
.form-group textarea {
  flex: 4;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: 15px;
}

.text-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: inherit;
  font-size: 15px;
}
.content{
  width: 1000px;
}

.warning-message {
  background-color: rgba(255, 0, 0, 0.51);
  color: white;
  font-size: 14px;
  padding: 5px;
  margin-top: 5px;
}
.save{

  background-color: green;
  border-color: green;
}
.cancel{
  margin-left: 5%;
  background-color: red;
  border-color: red;
}
