.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: white;
}

/* Add alternating row background color */
.table tbody tr:nth-child(even) {
 /* background-color: #f2f2f2;*/
}

/* Add hover effect on table rows */
.table tbody tr:hover {
 /* background-color: #e6e6e6;*/
}

 /* Style the edit button */
 .edit-button {
  background-color: #1c73de;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}


 /* Style the delete button */
.delete-button {
  background-color: red;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

.export-button-container {
  text-align: center;
  margin-top: 20px;
}

.export-button {
  background-color: #b22ecc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.top-right-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.navigate-button {
  background-color: #14b832;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
